.ant-radio-button-wrapper{
    width: 100px;
    text-align: center;
}
.main-content{
    width: 700px;
    height: 600px;
}
.selects{
    width: 402px;
    margin:  0 auto;
}
.select-content{
    width: 698px;
    height:350px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #d9d9d9;
    position: relative;
}