.steps-content {
    margin-top: 16px;
    border: 1px solid #e9e9e9;
    border-radius: 6px;
    /*background-color: #fafafa;*/
    min-height: 200px;
    text-align: center;
    padding-top: 80px;
    position: relative;
    /*display: none;*/
  }

  .steps-action {
    margin-top: 24px;
  }
  .ant-steps .ant-steps-item.ant-steps-status-process .ant-steps-description{
      color:#108ee9 !important;
  }
  .ant-steps-title{
      visibility: hidden !important;
  }

  .step1-all{
      margin-top: 30px;
  }
  .step1-title{
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 20px;
  }
  .step1-content{
      width: 80%;
      height: 200px;
      margin: 0 auto;
  }
  .step1-score{
      width: 30%;
      float: left;
  }
  .step1-score span:first-child{
      font-size: 150px;
      font-weight: 600;
      color: #000;
  }
  .step1-score span:last-child{
    font-size: 24px;
    color: #000;
}
.ant-btn-lg{
    height:50px !important;
    width: 200px !important;
    font-size: 24px !important;
    position: absolute !important;
    right: 100px;
    top: 230px;
}
.step1-line{
    width: 85%;
    height: 2px;
    border-bottom: 1px solid #999;
    margin: 0 auto;
    margin-top: 10px;
}
.step1-star{
    /*border: 1px solid transparent;*/
    margin-top: 20px;
}
.star-score{
    position: relative;
    height: 40px;
}
.star-score>span{
    position: absolute;
    left: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
.step-getscore{
  width: 70%;
  height: 40px;
  position: absolute;
  left: 80px;
  top: 4px;
}
.step-getscore .ant-steps-title{
    visibility: visible !important;
}
.step-getscore .ant-steps-status-process{
  /*margin-right: 0px !important;*/
  width: auto !important;
  z-index: 2;
}
