body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-width: 1224px;
}
.ant-message-notice-content{
  padding: 8px 220px 8px 16px !important;
}



.select-info{
  width: 100%;
  height:500px;
}
.select-info-h2{
  color: #108ee9;
  width: 200px;
  margin-left: 100px;
}
.select-info-content{
  margin-top: 15px;
}
.select-category-1{
  width: 100%;
  margin-bottom: 15px;
  height: 45px;
  position: relative;
}
.select-category-1>span {
  width: 85px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: right;
}
.select-category-1>button{
  position: absolute;
  top: 5px;
}
.error-sum .category-detail{
  /* width: 100%; */
  width: 698px;
  height:500px;
  float: right;
}